


@font-face {
    font-family: myFirstFont;
    src: url(HARRYP__.TTF);
}

@media screen and (max-width : 800px)
{
	#p1{

		font-size: 25px !important;

	} 
	#floatleft, #floatright
  {
    font-size: 20px !important;
	text-align: center !important;
	}
	#gryffindorText, #slytherinText, #hufflepuffText, #ravenclawText{
	  
	font-size: 20px!important;
	  
	
	}
  
  .item{
	  
	  font-size: 20px !important;
	  
	}
  
	#lefttext{
	
	font-size: 20px !important;
	}
  
	#owltext{
	font-size: 20px !important;
	
	}
	h1{
	 font-size: 60px !important;
	 -webkit-text-stroke: 0.5px white !important;
	}
	h2{
		font-size: 40px !important;
		
	}
	h3{
		font-size: 25px !important;
	}
	#griffinCrest{
		font-size: 15px !important;
		
	}
	#harrytext{
		font-size: 20px !important;
		text-align: center !important;
	
	}
	
	
	#hermionetext{
	font-size: 20px !important;
	text-align: center !important;	
		
	
	}
	
	#rontext{
	font-size: 20px !important;
	text-align: center;
	
	
}


.container-fluid, #slytherinText,#gryffindorText,#hufflepuffText,#ravenclawText{
	
width:100% !important;
margin: 0px !important;
	
}

	#harryfloatleft,#hermionefloatleft,#ronfloatright{
		
	float: none !important;	
	}
	
	
}



body
{
	text-align: center;
	font-family: myFirstFont;
	background-image: url("images/hogwarts.jpg");	
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 10px;
}
	
h1
{
	font-size: 150px;
	color: #B8860B;
	-webkit-text-stroke: 2px white;
	padding-top: 90px;
	text-shadow: 10px 10px black;
	 
	
	
}



h2{
  font-family: myFirstFont;
  font-size: 60px;
  text-shadow: #fff 1px 1px 50px;
  
	

}

h3{
   
  font-size: 35px;
  text-shadow: #fff 1px 1px 40px; 
  
  

}

#boxShadow{
box-shadow: 0px 0px 60px 20px white;
}

#red
{
 color: rgb(116,0,1);
 -webkit-text-stroke: 3px rgb(211,166,37);
 margin-top: -80px;
 margin-bottom: 50px;
 
 
}
#green{
	color: rgb(26,71,42);
 -webkit-text-stroke: 3px rgb(170,170,170);
 margin-top: -80px;
 margin-bottom: 50px;
	
}

#yellow{
		color: rgb(236,185,57);
 -webkit-text-stroke: 3px rgb(0,0,0);
 margin-top: -80px;
 margin-bottom: 50px;
	
	
}

#blue{
color: rgb(14,26,64);
 -webkit-text-stroke: 3px rgb(148,107,45);
 margin-top: -80px;
 margin-bottom: 50px;
	
		
	

}

#p1
{
	font-family: Times New Roman !important;
	font-size: 35px;
	color: white;
	-webkit-text-stroke: 0.5px black;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.7);
				
   
}

#gryffindorText
{
	color:rgb(116,0,1);
	background-color:rgba(211,166,37,0.8);
	font-family: times-new-roman;
	font-size: 30px;
	
	box-shadow: 0px 0px 36px 10px white, 0px 0px 36px 10px white;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	-webkit-text-stroke: 0.2px rgb(0,0,0);	
	
}

#slytherinText{
	color:rgb(26,71,42);
	background-color:rgba(170,170,170,0.8);
	font-family: times-new-roman;
	font-size: 30px;
	box-shadow: 0px 0px 36px 10px white, 0px 0px 36px 10px white;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	-webkit-text-stroke: 0.2px rgb(0,0,0);	
	

}

#hufflepuffText{
	color:rgb(236,185,57);
	background-color:rgba(0,0,0,0.8);
	font-family: times-new-roman;
	font-size: 30px;
	box-shadow: 0px 0px 36px 10px white, 0px 0px 36px 10px white;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	-webkit-text-stroke: 0.2px rgb(0,0,0);	
	
	
}

#ravenclawText{
	color:rgb(14,26,64);
	background-color:rgba(148,107,45,0.8);
	font-family: times-new-roman;
	font-size: 30px;
	box-shadow: 0px 0px 36px 10px white, 0px 0px 36px 10px white;
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	-webkit-text-stroke: 0.2px rgb(0,0,0);	
}

#beastsText{
	color:rgb(255,255,255);
	background-color:rgba(0,0,0,0.8);
	font-family: times-new-roman;
	font-size: 30px;
	box-shadow: 0px 0px 36px 10px white;
   
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 50px;
	-webkit-text-stroke: 0.2px rgb(0,0,0);	
	
	
}

#floatleft{

    float: left;
	
	
	

}

#harryfloatleft,#hermionefloatleft,#ronfloatright{
	
float: left;	
}

#floatright{
	
	float: right;
	

}

#monkeyfloatleft{
	float: left;
	
	
	
}
#swoopingfloatleft{
	float: left;
	
	
	
}

#harryfloatleft{
	
	float: left;
	margin-right: 0px;
	
}

#featherfloatright{


margin-top:300px;
}



#owltext{
	
font-size: 28px;
text-align: center;

	
}



#harrytext{
font-size: 28px;
text-align: center;
	
	
}

#hermionetext{
font-size: 28px;
text-align: center;

	
}

#rontext{
font-size: 28px;
text-align: center;
	
	
}

img {
    max-width: 100%;
    height: auto;

}

#griffinCrest{
	color:white; 
	font-size:20px; 
	background-color: rgba(0,0,0,0.5); 
	font-family:verdana;
	
}

#playpause{
	float: right;
	margin-right:
	
}


.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.carousel{
	margin-top: 150px;
	
}
	
	
}
.carousel-inner{
	margin:auto;
	
	
	
	
}


.carousel-inner > .item > img {
	margin:auto;
	max-width:600px;
	height:600px;
  
 
} 


.active{
	color:#B8860B !important;
	
}

.activedrop{
	background-color:#B8860B !important;
}








